@if(resetClickCount | async){}
@if(checkClickCount | async){}
@if(resetWeek | async){}

<button (click)="checkForDoubleClick($event)">Double Click Me</button>
<button (dblclick)="update()">Double Click Me (with dblClick event)</button>
<div class="">
  {{count | async}} {{doubleCount | async}}
</div>
<div class="date-container">
  <div class="header">
    <input #date type="month" name="" id="" (change)="selectMonth($event)">
    <select name="" id="" (change)="selectWeek($event)" #weekSelect>
      <option value="0">Select Week</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">Final Week</option>
    </select>
  </div>
  <div class="days-list">
    @if(monthData$ | async; as days){
    @for(day of days; track $index){
    <div class="day">
      <div>{{day.dayNum}}</div>
      <div>{{day.dayName}}</div>
    </div>
    }
    }
  </div>
</div>
<router-outlet />